/* PrimeVue ProgressSpinner color override (Tailwind slate-600 #8496af) */
.pv-spinner-slate {
  --p-progressspinner-color-one: #8496af;
  --p-progressspinner-color-two: #8496af;
  --p-progressspinner-color-three: #8496af;
  --p-progressspinner-color-four: #8496af;
  color: #8496af; /* fallback */
}

.pv-spinner-slate svg circle {
  stroke: var(--p-progressspinner-color-one) !important;
}
